<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Title</th>
      <th>Date requesting start</th>
      <th>Date requesting end</th>
      <th>Status</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= link_to 'New Request', new_request_path %> 
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.employee_id %></td>
        <td><%= request.title %></td>
        <td><%= request.date_requesting_start %></td>
        <td><%= request.date_requesting_end %></td>
        <td><%= request.status %></td>
        <td><%= request.reason %></td>    
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
